/* Embedding Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Universal initalizer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Whole Page layout */
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-family: "Ubuntu", sans-serif;
}
main > :first-child {
  flex: 3;
}
main > :last-child {
  flex: 1;
}
#cover {
  background-image: linear-gradient(
    rgba(177, 12, 177, 0.777),
    rgb(255, 158, 216)
  );
}
#form-block {
  width: 100%;
  padding: 0.75vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  /* min-width: 384px; */
}
#sign-up-form {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.input-label-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
#user-agreement-block {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
#submit-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Form tags stylings */
#sign-up-form input {
  border: none;
  border-bottom: 3px solid grey;
  padding: 0.75rem;
  padding-left: 0.1rem;
}
#sign-up-form input:focus {
  outline: none;
  border-bottom-color: black;
}
a {
  text-decoration: none;
  color: black;
}
#sign-up-form button[type="submit"] {
  width: 55%;
  background-image: linear-gradient(
    rgba(177, 12, 177, 0.777),
    rgb(255, 158, 216)
  );
  color: white;
  border: none;
  border-radius: 25px;
  height: 2rem;
  cursor: pointer;
  font-weight: 700;
}
.invalid {
  outline: 3.5px solid red;
}
